#barrabusca2{
    background: linear-gradient(270deg, #1D2A37 -3.29%, rgba(66, 90, 115, 0.633802) 48.58%, rgba(29, 42, 55, 0.66) 108.61%, #1D2A37 108.61%);
    height: 40px;
    text-align: left;
}

#barrabusca2 input[type=text] {
    margin-left: 60px;
    background-color: gray;
    padding: 6px;
    border: none;
    border-radius: 5px;
}

#barrabusca2 a{
    margin-left: 25px;
}